/**
 * Copyright Siemens AG, 2013-2014. Part of the SW360 Portal Project.
 * With modifications by Bosch Software Innovations GmbH, 2016.
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Description: Styles for sw360 portlet Pages
 *
 * Authors: nunifar.ms@siemens.com, puspa.panda@siemens.com,
 * johannes.najjar.ext@siemens.com
 */

div.content1 {
    padding: 0px;
    float: left;
    left: 3%;
    top: 90px;
    width: 20%;
    margin-right: 2%;
    overflow-x: auto;
    overflow-y: hidden;
}

div.content2 {
    padding: 0px;
    float: right;
    /*min-height:500px;*/
    left: 25%;
    top: 90px;
    width: 78%;
    overflow: auto;
    /*min-height:480px;
    margin-right: 3%;*/

}

.checkboxlabel {
    font-family: arial;
    font-size: 12px;
    color: #333333;
}

.textlabel {
    font-family: arial;
    font-size: 12px;
    color: #333333;
}

.textlabel.mandatory:after {
    content: " *";
    color: red;
}

.toplabelledInput, .stackedlabel {
    display: block;
}

.followedByImg {
    max-width: 80%;
}

.content_table {
    vertical-align: top;
}

.info_table {
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(248, 247, 247);
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 12px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width: 100%;
}

.info_table_left_column {
    width: 30%;
}

.info_table_right_column {
    width: 70%;
}

.info_table > thead > tr > th {
    background-color: rgb(178, 224, 224);
    border: medium none;
    font-weight: bold;
    padding: 20px 10px;
}

.clickAble {
    background-color: rgb(178, 224, 224);
    cursor: pointer;
}

.clickAble:hover {
    background-color: rgb(204, 204, 204);
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.minWidth {
    text-align: right;
    display: inline-block;
    min-width: 2em;
}

.info_table > tbody > tr {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 10px;
}

.info_table > tbody > tr > td:nth-of-type(odd) {
    height: 22px;
    padding: 10px;
    color: rgb(51, 51, 51);
}

.info_table > tbody > tr > td:nth-of-type(even) {
    height: 22px;
    padding: 10px;
    color: black;
}

.innerTable thead th, .innerTable th, .innerTable td, .innerTable tbody td {
    border-top: none !important;
}

.infoheading {
    background-color: #b2e0e0;
    border-bottom: 2px solid #66c1c2;
    cursor: pointer;
    *cursor: hand;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 3px 18px 3px 18px;
    vertical-align: text-top;
}

.homepageheading {
    background-color: #b2e0e0;
    border-bottom: 2px solid #66c1c2;
    cursor: pointer;
    *cursor: hand;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 3px 18px 3px 18px;
    vertical-align: text-top;
}

.homepageListing {
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #cccccc;
    width: auto;
    height: 160px;
}

.homepageListingTable {
    font-size: 10px;
    font-weight: normal;
    border: 1px solid #cccccc;
    width: auto;
    height: 450px;
    padding: 0 0;
}

.homepageListingContent {
    padding: 5px;
}

.homepageListingRight {
    font-size: 12px;
    font-weight: normal;
    width: auto;
    height: 160px;
}

.searchbar {
    display: inline-block;
    color: #cccccc;
    margin-left: 1em;

    width: 90%;
    padding: 5px;
    height: 20px;
}

.searchbutton {
    display: inline-block;

    /*padding: 5px 20px 5px 20px; */
    /*border: none; */
    /*font-weight:bold;*/
}

.nav-tabs {
    background-color: #f8f7f7;
    font: normal 14px "Arial";
    color: #000000 !important;
}

.nav-tabs > .active, .nav-tabs > li > .active {
    border-left: 4px solid red;
    background: #cccccc !important;
    color: #000000 !important;
}

.nav-tabs > a:hover, .nav-tabs > li > a:hover {
    border-left: 4px solid red;
    background: #aaaaaa;
    color: #000000;
}

.nav-tabs > a, .nav-tabs > li > a {
    color: #000000 !important;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

input[readonly].clickable {
    cursor: pointer;
}

#releaseSelect {
    left: 30px;
    top: -4px;
    position: relative;
}
#releaseHeaderLabel {
    top: 20px;
    position: relative;
}

#dataSourceTable .selected td {
    background-color: #3366FF;
    color:#FFFFFF;
}

.release-list-entry-element {
    width: 18%;
}

.release-list-entry-element input {
    width: 95%;
    padding: 2%
}

#bdp-import-status-popup {
    text-align: center;
}

#bdp-import-status-text {
    text-align: center;
    width: 100%;
    height: 90%;
}

#bdp-import-status-closebutton {
    position: relative;
    bottom: 32px;
}

.sw360modal {
    position: relative;
    z-index: 10000;
}

#attachmentDetail td {
    border-right: 1px solid rgb(204, 204, 204);
    height: 15px;
    padding: 5px;
    color: black !important;
}

#attachmentDetail img {
    width: 15px;
    padding: 0px;
}

#attachmentDetail .attachmentTitle{
    font-weight: bold;
}

#attachmentDetail .lastAttachmentRow{
    border-bottom: 2.5px solid rgb(204, 204, 204);
    
}

#attachmentDetail .lessPadding{
    padding: 0.5px !important;
}


.sw360modal button:last-of-type {
    float: right;
}

.sw360modal button:not(:last-of-type) {
    float: left;
}

.release-list-entry-element {
    width: 18%;
}

.release-list-entry-element input {
    width: 100%;
}

.hashvalue {
    word-break: break-all;
    font-family: monospace;
}

.button-div{
 margin-bottom: 1em;
} 

#extendedByReleases, .formatSelect {
   width: 20em;
   height: 25px;
   margin-bottom: 0;
   padding:0;
}

.notificationBulletSpan {
    min-width: 25px;
    height: 25px;
    border-radius: 5px;
    font-size: 11px;
    padding: 0 4px;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    float: right;
}

.backgroundAlert {
    background: #e95850;
}

.backgroundGrey {
    background: #aaaaaa;
}

.vulnerabilityRatingCommentArea {
    width: 95% !important;
    height: 90% !important;
}

.withTopMargin {
    margin-top: 2em !important;
}

.formatedMessageForVulItem {
    list-style: none;
}

.formatedMessageForVulItem:not(:last-of-type) {
    margin-bottom: 10px;
}

.formatedMessageForVulDate, .formatedMessageForVulPrefix {
    font-size: small;
}

.formatedMessageForVulCheckedBy:before, .formatedMessageForVulComment:before{
    font-size: small;
}

.formatedMessageForVulCheckedBy:before {
    content: "Checked by: ";
}

.formatedMessageForVulComment:before {
    content: "Comment: ";
}

.clear-float {
    clear:right;
}

.mapDisplayRootItem {
    list-style-type: none;
    padding:0;
    margin:0;
}

.mapDisplayChildItemLeft {
    font-weight:bold;
}

.highlightedRed {
    background-color: #ffdddd;
}

.highlightedYellow {
    background-color: #f6e8b5;
}

.highlightedGreen {
    background-color: #dbffdb;
}
