<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: Arial;
            font-size: 14px;
        }

        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 16px;
        }

        h3 {
            font-size: 14px;
        }

        p {
            font-weight: normal
        }

        body {
            background: #ffffff;
        }

        .top {
            text-decoration: none;
            color: blue;
            padding: 0px 1em;
        }

        .inset {
            margin: 0.7em;
            padding: 0.7em;
            background: white;
            border-top: 1px solid silver;
            xborder-right: 1px solid silver;
        }

        .inset p {
            white-space: pre-wrap;
        }

        .inset .groupId {
            color: black;
            font-size: 12px;
        }

    </style>
</head>
<body>
<h1>Open Source Software</h1>

<p> Dieses Produkt enth&#228;lt Open-Source-Software. Im Folgenden finden Sie die &#220;bersicht der verwendeten
    freien Software. Vielen Dank an alle Beteiligten f&#252;r die Erstellung der Software.
</p>
<p>Einige Lizenzen erfordern die Ver&#246;ffentlichung des Quellcodes, bitte schreiben Sie bei Interesse an:</p>

<p>
    ????<br/>
    ?????<br/>
    Strasse<br/>
    Ort<br/>
    Deutschland
</p>

<p>Bitte geben Sie ebenfalls Ihre Softwareversion, Ihre E-Mail-Adresse f&#252;r R&#252;ckfragen und Ihre
    Postanschrift f&#252;r die Zustellung an.
</p>

<h2 id="releases">Releases</h2>
<ul>
    #foreach($releaseName in $licenseInfos.keySet())
        <li>
            <a href="#$esc.xml($releaseName)">$esc.xml($releaseName)</a>
        </li>
    #end
</ul>
    #foreach($releaseName in $licenseInfos.keySet())
    <div class="inset">
        <h3 id="$esc.xml($releaseName)">$esc.xml($releaseName)
            <a class="top" href="#releases">&#8679;</a>
        </h3>
    </div>

        #foreach($copyright in ${licenseInfos.get($releaseName).copyrights})
        <p>
            $esc.xml($copyright)
        </p>
        #end

        #foreach($licenseText in ${licenseInfos.get($releaseName).licenseTexts})
        <p>
            $esc.xml($licenseText)
        </p>
        #end
    #end
</body>
</html>
